<div class="container">
    <% if Rails.env == "production" %>
        <div id="rooms">
            <rooms />
        </div>
        <%= javascript_pack_tag 'rooms' %>
        <%= stylesheet_pack_tag 'rooms' %>
    <% else %>
        <div id="rooms">
            <rooms />
        </div>
        <%= javascript_pack_tag 'local_rooms' %>
        <%= stylesheet_pack_tag 'local_rooms' %>
    <% end %>
</div>
