<div class="container">
  <div class="single-page">
    <h1>
      新規アタックチーム作成
    </h1>

    <% if current_user.attack_groups.present? %>
      <div style="margin-bottom: 24px;">
        <span>作成済チーム数：</span>
        <%= link_to "#{@attack_groups_number}", attack_groups_path, class: "hover-opacity",style:"text-decoration: underline;" %>
      </div>
    <% end %>

    <div class="lines-on-sides">
      <span>すでにアカウントを持っている人を選択する</span>
    </div>
    <div class="sp-sub-text-wrapper">
      <span class="sp-sub-title">すでにアカウントを持っている人を選択する</span>
    </div>

    <% if current_user.friend_users.blank? %>
        <p class="post-member__exception-title">
          <span>フレンドがいません。</span>
          <span>
            ヘッダーの <%= image_tag "add-friend.png", class:"post-member__exception-search-img" %> からフレンド追加できます。
          </span>
        </p>
    <% else %>
        <%= render "shared/friend_list",
          model: @attackers,
          url: attack_groups_path,
          listed_friends: @host_friends
        %>
    <% end %>

    <div class="lines-on-sides">
      <span>アカウントを持っていない人を招待する</span>
    </div>
    <div class="sp-sub-text-wrapper">
      <span class="sp-sub-title">アカウントを持っていない人を招待する</span>
    </div>

    <div class="post-member-form">
      <%= render "shared/register_invite" %>
    </div>
  </div>
</div>