<div id="post-image">
  <div class="post-item">
    <div class="post-item__text-area">
      <p class="post-item__title">
        <%= place %>で<%= time %>から一緒にご飯いきませんか？
      </p>
    </div>
  </div>
</div>