<div id="post-image">
  <div class="post-item">
    <div class="post-item__text-area">
      <p class="post-item__title">
        <%= place %>で<%= time %>から一緒にご飯いきませんか？
      </p>

      <div class="post-item__member-img-wrapper">
        <% invited_user_include_me.each do |post_member| %>
          <%= image_tag post_member.user.user_profile.image.url, class:"post-item__member-img" %>
        <% end %>
      </div>
    </div>
  </div>
</div>