<div class="lines-on-sides">
  <span>アカウントを持っていない人を招待する</span>
</div>
<div class="sp-sub-text-wrapper">
  <span class="sp-sub-title">アカウントを持っていない人を招待する</span>
</div>

<div class="post-member-form">
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name)) do |f| %>
      <%= render "shared/error_messages", resource: resource %>
      <div class="form">
        <div class="field">
          <div class="label">
            <label>
              招待したい人のメールアドレス
            </label>
          </div>
          <%= f.email_field :email, type: "email", :placeholder => "example@matchapp.jp", required: "required" %>
        </div>
        <div class="field">
          <div class="button-wrapper">
            <%= f.submit "✉ 招待メールを送信", class:"app-button conversion", style: "min-width: 180px;" %>
          </div>
        </div>
      </div>
    <% end %>
</div>