.modal-select-btn{
  width: 260px;
  background: #fff;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 700;
}

.modal-select-disabled-btn{
  border: 1px solid #a09f9e;
  color: #a09f9e;
}

.activeModalBtn{
  background: #8bd3dd;
  border: 1px solid #8bd3dd;
  color: #fff;
  cursor: pointer;
  &:hover{
    opacity: .7;
  }
}