.select-btn{
  display: block;
  width: 260px;
  background: #fff;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 700;
}

.modal-select-disabled-btn{
  border: 1px solid #a09f9e;
  color: #a09f9e;
}

.activeModalBtn{
  background: #8bd3dd;
  border: 1px solid #8bd3dd;
  color: #fff;
  cursor: pointer;
  &:hover{
    opacity: .7;
  }
}

//招待キャンセル系
.invite-cancel-img{
  width: 18px;
}

.invite-cancel-link{
  display: flex;
  align-items: center;
  margin-right: 6px;
}

//戻る進む系
.page-link-wrapper{
  margin: 20px 12px 0px 12px;
}
.page-link-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-link-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-link-text-right{
  margin-right: 4px;
}
.page-link-text-left{
  margin-left: 4px;
}