html {
  height: 100%;
}

body{
  height: 100%;
  min-height: 80vh;
  margin: 0;
  background: #fffffe;
  color: #172c66;
  font-family: 'Noto Sans', sans-serif;
  // font-family: -apple-system,BlinkMacSystemFont,\\6E38\30B4\30B7\30C3\30AF\4F53,Yu Gothic,YuGothic,sans-serif;
}

.container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul li{
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, select {
  outline: 0;
}

input[type=text],input[type=password],input[type=email],input[type=submit],select{
  -webkit-appearance: none;
}

// テキスト省略
.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hover-opacity:hover{
  opacity: .7;
}

// 縮小する
.hover-scale:hover{
  transition: .5s;
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -o-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}

[v-cloak] {
  display: none;
}

// 選択時チェックマーク
.checkRound{
  background: #fff;
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #f582ae;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkMark{
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-left: 2px solid #f582ae;
  border-bottom: 2px solid #f582ae;
  transform: rotate(-45deg);
}

.swiper-button-disabled{
  display: none!important;
}