.lines-on-sides{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.lines-on-sides:before {
  content: "";
  display: block;
  border-top: solid 1px #ccc;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.lines-on-sides span {
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.sp-sub-text-wrapper{
  display: none;
}

@media(max-width: 567px){
  .lines-on-sides{
    display: none;
  }
  .sp-sub-text-wrapper{
    display: block;
    font-size: 14px;
  }
  .sp-sub-title{
    border-left: 2px solid #f582ae;
    padding-left: 12px;
    font-weight: 700;
    font-size: 16px;
  }
}

.post-member__exception-title{
  text-align: center;
  padding: 28px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.post-member__exception-search-img{
  width: 20px;
  height: 20px;
}

// _inviting.html.erb
.invited-member-list{
  background: #f3d2c1;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 36px;
}

.invited-member-list-title{
  font-weight: 700;
  margin-bottom: 16px;
}

.invited-member-list-sub-title{
  font-weight: 700;
  font-size: 14px;
}

.invited-member-item{
  display: flex;
  align-items: center;
  line-height: 24px;
}

.invite-cancel-img{
  width: 18px;
}

.invite-cancel-link{
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.invited-email{
  font-size: 14px;
}