.modal {
  &.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  &-window {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
}

// DoneModal
.post-listed__popper-img{
  width: 260px;
}

.post-listed__popper-title-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.post-listed__popper-title{
  font-weight: 700;
  font-size: 20px;
}