#post-image{
.post-item{
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 320px;
  margin-bottom: 24px;
  background-image: url('post-background.png');
  @media(max-width: 415px){
    height: 220px;
  }
}

.post-item__text-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 72%;
  margin-top: 20px;
  background: #fff;
  border-radius: 8px;
  padding: 16px 20px;
  box-sizing: border-box;
  @media(max-width: 415px){
    padding: 12px 18px;
  }
}

.post-item__title{
  max-height: 144px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  @media(max-width: 576px){
    font-size: 28px;
  }
  @media(max-width: 415px){
    font-size: 20px;
  }
}

.post-item__member-img-wrapper{
  display: flex;
  justify-content: space-evenly;
}
.post-item__member-img{
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  @media(max-width: 415px){
    width: 48px;
    height: 48px;
  }
}
}
