.single-page{
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  margin: 12px 8px 0px 8px;
}

.single-page > h1{
  padding-bottom: 30px;
  font-size: 100%;
}

.forget-link{
  text-decoration: underline;
  font-size: 12px;
}