.container{
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.top{
  height: 100%;
  margin: 0px 12px;
}

.top__background{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__desc{
  color: #fff;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.top__title{
  font-size: 64px;
  color: #fff;
  margin-bottom: 54px;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.top__btn{
  width: 180px;
  text-align: center;
  padding: 12px 24px;
  font-weight: 900;
  &:hover{
    opacity: .7;
    transition: .3s;
  }
}

.top__signup-btn{
  color: #fff100;
  border: 2px solid #fff100;
  margin-bottom: 16px;
}

.top__signin-btn{
  color: #fff;
  border: 2px solid #fff;
  margin-bottom: 16px;
}

.sns-btn--line{
  width: 234px;
  background-color: #00C300;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  transition: .3s;
  &:hover{
    background-color: #00E000;
  }
  &:focus,
  &:active{
    background-color: #00B300;
  }
  &.disable{
    background-color: #C6C6C6;
  }
  .sns-btn__image{
    padding: 0 8px;
    img{
      width: 24px;
    }
  }
  .sns-btn__text{
    cursor: pointer;
    border-left: 1px solid rgba(255,255,255,.6);
    padding: 12px 24px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.4px;
  }
}

.top__header-user-action-area{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  margin: 12px 0px;
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.15);
  padding: 12px 0;
  // @media(max-width: 567px){
  //   border-radius: 0px 0px 8px 8px;
  //   margin: 0 0 12px 0;
  // }
}

.top__user-profile{
  display: flex;
  padding: 0px 64px;
  margin-bottom: 12px;
  @media(max-width: 567px){
    padding: 0px 32px;
  }
  @media(max-width: 415px){
    padding: 0px 24px;
  }
}
.top__user-icon-wrapper{
  display: flex;
  align-items: center;
  margin: 0px 24px;
  @media(max-width: 415px){
    margin: 0px 12px;
  }
  .top__user-icon{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    @media(max-width: 567px){
      width: 64px;
      height: 64px;
    }
    @media(max-width: 415px){
      width: 54px;
      height: 54px;
    }
  }
}

.top__user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 12px;
  @media(max-width: 415px){
    margin: 12px 0px;
  }
  .top__user-info-status{
    display: flex;
    .top__user-info-status-item-wrapper{
      margin-right: 42px;
      @media(max-width: 567px){
        margin-right: 28px;
      }
      .top__user-status{
        font-weight: 700;
        text-decoration: underline;
      }
    }
    .top__user-info-status-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      @media(max-width: 567px){
        font-size: 14px;
      }
    }
    .top__user-info-status-title{
      font-size: 14px;
      @media(max-width: 567px){
        font-size: 12px;
      }
    }
  }
}

.top__select-btn-wrapper{
  display: flex;
  justify-content: center;
}
.top__select-btn{
  min-width: 150px;
  border: none;
  color: #fff;
  border-radius: 10px;
  line-height: 24px;
  font-weight: 700;
  .top__select-link{
    display: inline-block;
    width: 100%;
  }
}
.post-create-btn{
  background: #f582ae;
}