.container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.top__background{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__desc{
  color: #fff;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.top__title{
  font-size: 64px;
  color: #fff;
  margin-bottom: 54px;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.top__btn{
  width: 180px;
  text-align: center;
  padding: 12px 24px;
  font-weight: 900;
  &:hover{
    opacity: .7;
    transition: .3s;
  }
}

.top__signup-btn{
  color: #fff100;
  border: 2px solid #fff100;
  margin-bottom: 16px;
}

.top__signin-btn{
  color: #fff;
  border: 2px solid #fff;
}

.top__user-profile{
  display: flex;
  padding: 18px 64px;
  @media(max-width: 567px){
    padding: 12px 32px;
  }
}
.top__user-icon-wrapper{
  margin-right: 64px;
  @media(max-width: 567px){
    margin-right: 20px;
  }
  .top__user-icon{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
    @media(max-width: 567px){
      width: 72px;
      height: 72px;
    }
  }
}

.top__user-info{
  display: flex;
  flex-direction: column;
  .top__user-info-header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .top__user-name{
      font-size: 28px;
      margin-right: 8px;
      @media(max-width: 567px){
        font-size: 24px;
      }
    }
    .top__user-setting-btn{
      color: #000;
      height: 24px;
      @media(max-width: 567px){
        display: none;
      }
    }
  }
  .top__user-info-status{
    display: flex;
    .top__user-info-status-item{
      margin-right: 42px;
      @media(max-width: 567px){
        margin-right: 28px;
      }
      .top__user-status{
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}