.container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.top-background{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-desc{
  color: #fff;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.top-title{
  font-size: 64px;
  color: #fff;
  margin-bottom: 54px;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.top-btn{
  width: 180px;
  text-align: center;
  padding: 12px 24px;
  font-weight: 900;
  &:hover{
    opacity: .7;
    transition: .3s;
  }
}

.top-signup-btn{
  color: #fff100;
  border: 2px solid #fff100;
  margin-bottom: 16px;
}

.top-signin-btn{
  color: #fff;
  border: 2px solid #fff;
}