header{
  height: auto;
  border-bottom: 1px solid rgba(0,0,0,.15);
  background: #fffffe;
}

header > .container{
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.header-title{
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.header-icon-img{
  width: 48px;
  height: 40px;
  margin: 4px;
  display: flex;
  align-items: center;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-btn-wrapper{
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-btn-title{
  font-size: 8px;
  margin-top: 2px;
}

.drawer-hamburger{
  position: unset!important;
  z-index: 1!important;
  display: flex!important;
  align-items: center!important;
  width: 24px!important;
}

.drawer-menu-item{
  font-size: 0.9rem!important;
  color: #001858!important;
  padding: 0 20px!important;
  line-height: 46px!important;
}

.drawer-menu-item:hover{
  text-decoration: none!important;
  background-color: #f7fafc!important;
}

.drawer--right.drawer-open .drawer-hamburger{
  right: 260px !important;
  position: absolute!important;
  z-index: 1000!important;
}

.drawer-open .drawer-hamburger-icon::after,
.drawer-open .drawer-hamburger-icon::before {
  background-color: #fff!important;
}

.drawer-menu__user-info{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0px;
}
.drawer-menu__user-icon{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}
.drawer-menu__user-name{
  font-weight: 700;
  color: #001858!important;
}

.drawer-menu__option-wrapper{
  margin-bottom: 24px;
}

.drawer-menu__title-wrapper{
  display: flex;
  margin: 8px 12px;
}

.drawer-menu__title{
  color: #001858;
  display: block;
  font-size: 12px;
  margin-right: 10px;
  flex-shrink: 0;
  font-weight: 700;
}

.drawer-menu__title-line{
  display: block;
  width: 100%;
  position: relative;
  bottom: 8px;
  border-bottom: 1px solid #ddd;
}