// チャットページでユーザー一覧が表示されている場合のCSS
.room-window--index{
  .rooms{
    display: block;
  }
  .room{
    display: none;
  }
  .rooms, .room{
    @media(max-width: 576px){
      height: calc(100vh - 60px);
      height: calc(var(--vh, 1vh) * 100 - 60px);
    }
  }
}
// チャットページでチャットメッセージ一覧が表示されている場合のCSS
.room-window--show{
  .rooms{
    display: none;
  }
  .room{
    display: block;
  }
}
////////////////////////////////////////////////
.rooms, .room{
  height: calc(100vh - 88px);
  height: calc(var(--vh, 1vh) * 100 - 88px);
  position: relative;
  @media(max-width: 576px){
    height: calc(100vh);
    height: calc(var(--vh, 1vh) * 100);
  }
}

.rooms-header{
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
}
.room-header{
  padding: 8px 12px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
}
.rooms-header__title-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-angle-left{
  margin-right: 8px;
}
.rooms-header__title, .room-header__title{
  font-weight: 700;
  font-size: 14px;
}

.rooms-body, .room-body{
  height: 100%;
  overflow: scroll;
}

.room-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 600;
  &:hover{
    background-color: #f7f9f9;
  }
}

.room-user{
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
  font-weight: 600;
  &:hover{
    background-color: #f7f9f9;
  }
}

.room-user__image-wrapper{
  margin-right: 8px;
}
.room-user__image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.room-user__name{
  font-size: 14px;
}

.room-footer{
  display: flex;
  flex-direction: column;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eee;
  background-color: #fff;
  @media(max-width: 576px){
    height: 100px;
  }
}

.room-footer__nav{
  display: flex;
  justify-content: space-between;
}

.room-footer__send-btn{
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 8px;
}

.room-footer__input{
  flex: 1 1;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}