// チャットページでユーザー一覧が表示されている場合のCSS
.room-window--index{
  .rooms{
    display: block;
  }
  .room{
    display: none;
  }
  .rooms, .room{
    @media(max-width: 576px){
      height: calc(100vh - 60px);
      height: calc(var(--vh, 1vh) * 100 - 60px);
    }
  }
}
// チャットページでチャットメッセージ一覧が表示されている場合のCSS
.room-window--show{
  .rooms{
    display: none;
  }
  .room{
    display: block;
  }
}
////////////////////////////////////////////////

.rooms{
  position: relative;
}

.rooms-header, .room-header{
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
}
.rooms-header__title, .room-header__title{
  font-weight: 700;
}

.rooms-body{
  height: 100%;
  overflow: scroll;
}

.room-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 600;
  &:hover{
    background-color: #f7f9f9;
  }
}

.room-user{
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
  font-weight: 600;
  &:hover{
    background-color: #f7f9f9;
  }
}

.room-user__image-wrapper{
  margin-right: 8px;
}
.room-user__image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}